@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
.icon{
  font-size: 1.25rem;
  cursor: pointer;
}
.message{
  display: none;
}
.showMessage{
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}
.navbar-brand img{
  margin-left: 20px;
}
.navbar-link {
  
}
