@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
:root{
    --primaryColor: #1a5d96
    --secondaryColor: #5f9f72
    --hoverColor: #e0fee9
    --whiteColor: #f3f8fc
    --blackColor: #3c3c3c
    --greyText: #848484;
    
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg,#1a5d96,#5f9f72, #673ab7);
    background-size: 300% 300%;
    animation: color-anim 4s infinite linear alternate;
    -webkit-animation: color-anim 4s infinite linear alternate;
  }
  @keyframes color-anim {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }